/* stylelint-disable max-line-length */

/* Citizens Bank brand fonts. Fira Sans (body) + Addington (display serif),
   extracted from citizensbank.com and hotlinked from Citizens' asset host for
   the demo (verified HTTP 200). Durable path: self-host the woff/woff2 or serve
   via a licensed kit; swap these URLs then. Only faces confirmed to resolve are
   referenced (Addington ships DemiBold woff2; Fira Sans ships woff). */

@font-face {
  font-family: "fira sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://www.citizensbank.com/assets/CB_resources/fonts/fira-sans/FiraSans-Light.woff') format('woff');
}

@font-face {
  font-family: "fira sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.citizensbank.com/assets/CB_resources/fonts/fira-sans/FiraSans-Regular.woff') format('woff');
}

@font-face {
  font-family: "fira sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://www.citizensbank.com/assets/CB_resources/fonts/fira-sans/FiraSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: addington;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.citizensbank.com/assets/CB_resources/fonts/addington/AddingtonCF-DemiBold.woff2') format('woff2');
}

/* code-sync 20260722 */
